body{
    font-family: 'Poppins', sans-serif;
    background-color:lightgray;
}
h1{
    font-size: 40px;
}
section{
    display: flex;
    margin-bottom: 50px;
    justify-content: space-between;
    width: 100%;
}

.orange-color{
    color: orange;
}
.half-width{
    width: 50%;
    padding: 5% 5%;
    
}
.half-width img{
    width: 80%;
    margin-top: 8%;
    margin-left: 10%;

}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, red);
    color: white;
    font-weight: 600;
    padding: 10px 40px;
    border-radius: 20px;
}
.top-banner{
    background-image: url(banner.png);
    background-repeat: no-repeat;
}
.recipies{
    text-align: center;
}

.w3-width img{
    width: 100%;
    
}

.w3-width{
    width: 50%;
    padding:5% 5% 5%;
    box-shadow: 10px 15px 40px  rgb(8, 8, 8);
    border-radius: 20px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 5px 5px ;
    text-align: center;
    background-color: white;
    font-size: small;
    
}